// nextflow.config

manifest {
    description = 'A simple metagenomic pipeline example'
    mainScript = 'main.nf'
}

params {
    reads = "$baseDir/data/*_R{1,2}.fastq"
    outdir = "$baseDir/results"
    sample_file = "/Users/deborahbastoni/Desktop/negedia/metagenomic_pipeline/samples.csv"
    megahit_params = "--min-contig-len 200"
    seqkit_params = "-m 500" // <--- CORREZIONE QUI! Rimosso "seq"
}

profiles {
    standard {
        // Default settings for local execution without specific tools
    }
}

process {
    cpus = 2
    memory = '4 GB'
    time = '1h'
    container = 'deborah/fastp:latest'

    withName: FASTP {
        cpus = 4
        memory = '8 GB'
        container = 'deborah/fastp:latest'
        stageInMode = 'copy'
    }

    withName: MEGAHIT_SEQKIT { // <--- ASSICURATI CHE IL NOME SIA ESATTO
        cpus = 8
        memory = '32 GB'
        time = '8h'
        container = 'deborah/megahit_seqkit:latest' // <--- ASSICURATI CHE SIA QUESTO CONTAINER
        stageInMode = 'copy'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

conda {
    enabled = true
    createEnv = true
    initEnv = true
    mamba = true
}
