// nextflow.config

// Impostazioni generali del processo
process {
  // Esecutore locale, utile per i test. Per sistemi HPC, useresti 'slurm', 'sge', ecc.
  executor = 'local' 
  // Abilita Docker per l'esecuzione dei processi.
  docker.enabled = true 

  // Container di fallback o generico per tutti i processi se non specificato altrove.
  // Lo mantengo come riferimento, anche se per 'fastp' userò quello specifico nel modulo.
  container = 'quay.io/biocontainers/fastp:0.26.0--h5f740d0_0' 

  // Risorse specifiche per il processo 'fastp'.
  // Il blocco 'withName' permette di configurare processi specifici per nome.
  withName: fastp {
    cpus = 2         // 2 core della CPU
    memory = '4 GB'  // 4 Gigabyte di RAM
  }
}

// Parametri della pipeline.
params {
  reads = "data/SRR33880759_R_{1,2}.fastq" 
  outdir = "results"
}
