// nextflow.config

manifest {
    description = 'A simple metagenomic pipeline example'
    mainScript = 'main.nf'
}

params {
    reads = "$baseDir/data/*_R{1,2}.fastq"
    outdir = "$baseDir/results"
    sample_file = "/Users/deborahbastoni/Desktop/negedia/metagenomic_pipeline/samples.csv" // Percorso assoluto per samples.csv
    megahit_params = "--min-contig-len 200" // Parametri di esempio per megahit
    seqkit_params = "seq -m 2000" // Parametri di esempio per seqkit (es. --min-len 500)
}

profiles {
    standard {
        // Default settings for local execution without specific tools
    }
}

process {
    cpus = 2
    memory = '4 GB'
    time = '1h'
    container = 'deborah/fastp:latest' // Container di default per processi senza override

    withName: FASTP {
        cpus = 4
        memory = '8 GB'
        container = 'deborah/fastp:latest'
        stageInMode = 'copy'
    }

    withName: MEGAHIT_SEQKIT {
        cpus = 8
  memory = '8 GB'
        time = '8h'
        container = 'deborah/megahit:latest' // Il container che hai appena creato
        stageInMode = 'copy'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

conda {
    enabled = true
    createEnv = true
    initEnv = true
    mamba = true
}
